#contact_us {
    background-color: #5b5b5b;
    height: 90%;
    animation: activer 0.3s ;
  }
  @keyframes activer {
    from{
      height: 0;
    }to{
      height: 90%;
    }
  }
  body{
    
    background-color: #292828 !important;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;   
    padding: 45px;
    align-items: center;
}
.section{
    width: 600px;
    background-color:#00000085;
    padding:20px  50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 20px 10px #000000bd;
}
.form{
    display: flex;
    flex-direction: column  ;
    gap: 20px;
}
.form .input{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.form .input input , textarea{
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: #f8f8f8c4;
    border: 3px solid white;}
.form .input input:focus , textarea:focus{
    border-color:  rgb(0, 0, 255);
}
.form .input  label{
    font-size: small;
}
.label{
    font-size: 30px;
    font-weight: 600;
}
.submit{
    margin-top: 10px;
    padding: 5px 10px;
    /* background-color: brown; */
    border-radius: 30px;
    border: none;
    align-self:flex-end;
}
textarea{
    border-radius: 5px;
}
.error{
    height: 14px;
    color: #DC3545;
    font-size: 14px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
 background:  radial-gradient(circle, rgba(68, 57, 74, 1) 0%, rgb(41 41 59) 100%)
}